@use "../base/variables" as variables;
@use "../base/mixins" as mx;
@use "../components/buttons";

.canastas {
    background-color: #1a1a1a;
    text-align: center;
    padding: 3rem 0;
    min-height: 100vh;

    @include mx.responsive(tablet) {
        padding: 5rem 0;
    }

    @include mx.responsive(desktop) {
        padding: 6rem 3rem;
    }

    &__icon {
        width: 4rem;
        margin-bottom: 1.5rem;
        transition: transform 0.3s ease;
        margin-top: 4rem;

        &:hover {
            transform: scale(1.1);
        }

        @include mx.responsive(tablet) {
            width: 6rem;
        }

        @include mx.responsive(desktop) {
            width: 7rem;
        }

        @include mx.responsive(large-desktop) {
            width: 8rem;
        }
    }

    &__title {
        font-weight: variables.$font-bold;
        font-size: 2.2rem;
        margin-bottom: 4rem;
        color: variables.$white;

        @include mx.responsive(tablet) {
            font-size: 3rem;
        }

        @include mx.responsive(desktop) {
            font-size: 4rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 5rem;
        }
    }

    &__grid {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item5";
        max-width: 56.25rem;
        margin: 2rem auto 0;
        &__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1.5rem;
        }

        @include mx.responsive(tablet) {
            max-width: 56.25rem;
        }

        @include mx.responsive(desktop) {
            max-width: 100rem;
        }

        @include mx.responsive(large-desktop) {
            max-width: 100rem;
        }

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "item1"
                "item2"
                "item3"
                "item4"
                "item5";
        }
    }

    &__item {
        display: flex;
        align-items: stretch;
        justify-content: stretch;

        &--1 {
            grid-area: item1;
        }
        &--2 {
            grid-area: item2;
        }
        &--3 {
            grid-area: item3;
        }
        &--4 {
            grid-area: item4;
        }
        &--5 {
            grid-area: item5;
        }
    }

    &__card {
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 100%;
        min-height: 9rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: variables.$section-bg;
        color: variables.$white;
        border: 0.0625rem solid variables.$primary-color;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-0.25rem);
            box-shadow: 0 0.25rem 0.625rem #613599;
            background-color: #613599;
        }

        @include mx.responsive(tablet) {
            min-height: 10rem;
        }

        @include mx.responsive(desktop) {
            min-height: 14rem;
            padding: 1.5rem;
        }

        @include mx.responsive(large-desktop) {
            min-height: 17rem;
        }
    }

    &__card-title {
        font-family: "Inter", sans-serif;
        font-weight: variables.$font-semibold;
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
        color: variables.$secondary-color;
        margin-top: 2rem;

        @include mx.responsive(tablet) {
            font-size: 1.8rem;
        }

        @include mx.responsive(desktop) {
            font-size: 2rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 2.4rem;
        }
    }

    &__button {
        @extend .button;
        margin-top: 1rem;
        align-self: center;
        margin-bottom: 1rem;
    }
}
