@use "../base/variables" as variables;
@use "../components/buttons";
@use "../base/mixins" as mx;

.imc {
    background-color: #1a1a1a;
    padding: 3rem 0;
    min-height: 100vh;

    @media (min-width: 768px) {
        padding: 5rem 0;
    }

    &__icon {
        width: 3.75rem;
        padding-bottom: 1.5rem;
        transition: transform 0.3s ease;
        padding-top: 4rem;
        display: block;
        margin: 0 auto 1rem auto;  
        

        &:hover {
            transform: scale(1.1);
        }

        @media (min-width: 768px) {
            width: 4.375rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.75rem;
        margin-bottom: 4rem;
        color: variables.$primary-color;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
    }

    &__description {
        color: variables.$text-secondary;
        max-width: 37.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
        text-align: center;
    }

    &__form-container {
        background-color: variables.$light-color;
        padding: 2rem;
        border-radius: 0.9375rem;

        @media (min-width: 768px) {
            padding: 3rem;
        }
    }

    &__label {
        color: variables.$dark-color;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    &__input {
        background-color: #f2f2f2;
        border: solid 0.09rem #ced4da;
        color: #212529;

        &::placeholder {
            color: #6c757d;
        }

        &:focus {
            box-shadow: 0 0 0 0.1875rem rgba(160, 118, 249, 0.3);
            background-color: #e9ecef;
            border: none;
            color: #212529;
        }
    }

    &__button {
        @extend .button;
        @extend .button--yellow;
        @media (min-width: 768px) {
            width: auto;
        }
    }

    &__error {
        color: red;
        font-size: 0.875rem;
    }

    &__result {
        margin-top: 3rem;
    }

    &__result-text {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        color: variables.$white;
        text-align: center;
    }

    &__classification {
        text-align: center;
        font-size: 1.25rem;
    }
}
