@use "../base/variables" as variables;
@use "../components/buttons";
@use "../base/mixins" as mx;

.imc {
    background-color: #1a1a1a;
    padding: 3rem 0;
    min-height: 100vh;

    @include mx.responsive(tablet) {
        padding: 5rem 0;
    }

    @include mx.responsive(desktop) {
        padding: 6rem 3rem;
    }

    &__icon {
        width: 4rem;
        margin-bottom: 1.5rem;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        @include mx.responsive(tablet) {
            width: 6rem;
        }

        @include mx.responsive(desktop) {
            width: 7rem;
        }

        @include mx.responsive(large-desktop) {
            width: 8rem;
        }
    }

    &__title {
        color: variables.$primary-color;
        font-weight: variables.$font-bold;
        font-size: 2.2rem;
        margin-bottom: 2.5rem;

        @include mx.responsive(tablet) {
            font-size: 3rem;
        }

        @include mx.responsive(desktop) {
            font-size: 4rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 5rem;
        }
    }

    &__description {
        color: variables.$text-secondary;
        max-width: 37.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
        text-align: center;
        font-size: 1.1rem;

        @include mx.responsive(tablet) {
            font-size: 1.5rem;
        }

        @include mx.responsive(desktop) {
            font-size: 1.8rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 2rem;
        }
    }

    &__form-container {
        background-color: variables.$light-color;
        padding: 2rem;
        border-radius: 0.9375rem;

        @include mx.responsive(tablet) {
            padding: 3rem;
        }
    }

    &__label {
        color: variables.$dark-color;
        margin-bottom: 0.5rem;
        font-weight: variables.$font-bold;
        display: block;
        font-size: 1.1rem;

        @include mx.responsive(tablet) {
            font-size: 1.5rem;
        }

        @include mx.responsive(desktop) {
            font-size: 1.8rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 2rem;
        }
    }

    &__input {
        background-color: #f2f2f2;
        border: solid 0.09rem #ced4da;
        color: #212529;
        font-size: 1.1rem;

        &::placeholder {
            color: #6c757d;
        }

        &:focus {
            box-shadow: 0 0 0 0.1875rem rgba(160, 118, 249, 0.3);
            background-color: #e9ecef;
            border: none;
            color: #212529;
        }

        @include mx.responsive(tablet) {
            font-size: 1.5rem;
        }

        @include mx.responsive(desktop) {
            font-size: 1.8rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 2rem;
        }
    }

    &__error {
        color: red;
        font-size: 1.1rem;

        @include mx.responsive(tablet) {
            font-size: 1.5rem;
        }

        @include mx.responsive(desktop) {
            font-size: 1.8rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 2rem;
        }
    }

    &__result {
        margin-top: 3rem;
    }

    &__result-text {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
        color: variables.$white;
        text-align: center;

        @include mx.responsive(tablet) {
            font-size: 1.8rem;
        }

        @include mx.responsive(desktop) {
            font-size: 2rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 2.4rem;
        }
    }

    &__classification {
        text-align: center;
        font-size: 1.1rem;

        @include mx.responsive(tablet) {
            font-size: 1.8rem;
        }

        @include mx.responsive(desktop) {
            font-size: 2rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 2.4rem;
        }
    }

    &__button {
        height: 4.5rem;
        font-size: 1.1rem;

        @include mx.responsive(tablet) {
            font-size: 1.5rem;
        }

        @include mx.responsive(desktop) {
            font-size: 1.6rem;
        }

        @include mx.responsive(large-desktop) {
            font-size: 1.7rem;
        }
    }
}
