@use "../base/variables" as variables;
@use "../base/mixins" as mx;
@use "../components/buttons";

.menus {
    background-color: #1a1a1a;
    padding: 3rem 0;
    min-height: 100vh;

    @media (min-width: 768px) {
        padding: 5rem 0;
    }

    &__icon {
        width: 3.75rem;
        padding-bottom: 1.5rem;
        transition: transform 0.3s ease;
        padding-top: 4rem;
        display: block;
        margin: 0 auto 1rem auto;  
        

        &:hover {
            transform: scale(1.1);
        }

        @media (min-width: 768px) {
            width: 4.375rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.75rem;
        margin-bottom: 4rem;
        color: variables.$primary-color;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
    }

    table {
        border-collapse: collapse;
        color: #fff;

        th {
            background-color: #613599;
            font-weight: 700;
            text-transform: uppercase;
            color: variables.$white;
            border-bottom: none;
        }

        th:not(:last-child) {
            border-right: solid 1px;
          }
          

        td {
            vertical-align: top;
            padding: 0.75rem;
            border-color: #333;
            background-color: rgba(137, 43, 226, 0);
            color: variables.$white !important;
        }

        td:first-child {
            color: #613599 !important;
                text-align: center;
    vertical-align: middle;
        }

        .btn-sm {
            background-color: #4c2882;
            border: none;
            font-size: 0.85rem;
            font-weight: 600;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #6d3abf;
            }
        }
    }

    .totales {
         font-size: 1.125rem;
        margin-top: 2rem;
        background-color: white;
        width: 25rem;
        height: 5rem;
        border-radius: 0.4rem;
    }
}
