@use "../base/variables" as variables;
@use "../base/mixins" as mx;
@use "./buttons";

.card-feature {
    background-color: variables.$section-bg;
    border: none;
    padding: 1.5rem;
    width: 100%;
    height: auto;

    &__body {
        @include mx.flex-column-center;
        text-align: center;

        &__custom-heading {
            font-size: 1.4rem;
            font-weight: variables.$font-bold;
            color: variables.$dark-color;

            @include mx.responsive(tablet) {
                font-size: 1.4rem;
            }
        }

        &__icon-inline {
            height: 2rem;

            @include mx.responsive(tablet) {
                height: 2.2rem;
                width: auto;
            }
        }

        &__image {
            width: 6rem;
            height: 6rem;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        &__title {
            font-size: 1.5rem;
            font-weight: variables.$font-bold;
            color: variables.$secondary-color;
            margin-bottom: 0.75rem;
            @include mx.responsive(tablet) {
                font-size: 2rem;
            }
        }

        &__button {
            @extend .button;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
        }
    }
}

.card-feature-section-1 {
    color: variables.$white;
    border-radius: 0;

    .card-feature__text {
        color: variables.$light-gray;
        width: auto;
        height: 6rem;
    }
}

.card-feature-section-2 {
    background-color: variables.$white;
    border-radius: 2rem;
    box-shadow: 1.1875rem 2.8125rem 4.9375rem rgba(0, 0, 0, 0.25);

    .card-feature__title {
        color: variables.$dark-color;
    }

    .card-feature__text {
        color: variables.$dark-color;
        width: auto;
        height: 6.5rem;
        @include mx.flex-center;
    }
}
