@use "../base/variables" as variables;
@use "../base/mixins" as mx;

.modal-content {
    background: linear-gradient(145deg, #a866ff, #9514ff);
    border-radius: 1.5rem;
    padding: 3rem;
    font-family: "Inter", sans-serif;
    box-shadow: 0 0.9375rem 1.875rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.modal-content:hover {
    transform: scale(1.05);
}

.modal-title {
    font-size: 2.25rem;
    font-weight: variables.$font-extra-bold;
    color: variables.$white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.0938rem;
    text-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.25);
    border-bottom: 0;

    @include mx.responsive(tablet) {
        font-size: 2.4rem;
    }

    @include mx.responsive(desktop) {
        font-size: 2.5rem;
    }

    @include mx.responsive(large-desktop) {
        font-size: 3rem;
    }
}

.modal-body {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 1rem;

    @include mx.responsive(tablet) {
        font-size: 1.7rem;
    }

    @include mx.responsive(desktop) {
        font-size: 1.8rem;
    }

    @include mx.responsive(large-desktop) {
        font-size: 1.9rem;
    }
}

.modal-body p {
    border-left: 0.3125rem solid variables.$secondary-color;
    font-size: 1.4rem;

    @include mx.responsive(tablet) {
        font-size: 1.7rem;
    }

    @include mx.responsive(desktop) {
        font-size: 1.8rem;
    }

    @include mx.responsive(large-desktop) {
        font-size: 1.9rem;
    }
}

.btn-close {
    opacity: 0.8;
}

.btn-close:hover {
    opacity: 1;
}

.modal {
    @include mx.responsive(tablet) {
        --bs-modal-width: 43.75rem;
    }

    @include mx.responsive(desktop) {
        --bs-modal-width: 50rem;
    }

    @include mx.responsive(large-desktop) {
        --bs-modal-width: 56.25rem;
    }
}
